<div class="row">
    <div class="col-6">
        1. Interpolation
        <p>Firstname: {{firstName}}</p>
        <div>
            {{rollNo}}
        </div>
        <span>{{isActive}}</span>
    </div>
    <div class="col-6">
        property binding
        <input type="text" [value]="firstName" name="" id="">
        <br>
        <input type="text" [placeholder]="myPlaceholder" name="" id="">
        <div [class]="div1ClassName" style="height: 100px; width: 100px;">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="showWelcomeMessage()">Show Welcome Text</button>
    </div>
    <div class="col-3">
        <select name="" id="" (change)="onCityChange($event)">
            <option value="Pune">Pune</option>
            <option value="Nagpur">Nagpur</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Panji">Panji</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <!-- Mengirim nilai input secara live ke variabel first name -->
        <input type="text" [(ngModel)]="firstName">
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedName">
            <option value="Ivriel">Ivriel</option>
            <option value="Gunawan">Gunawan</option>
            <option value="Fijay">Fijay</option>
            <option value="Anji">Anji</option>
        </select>
        {{selectedName}}
    </div>
</div>

<button (click)="navigateToHome()">Navigate to home </button>